body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    padding: 30px;
    /* padding-top: 5px;
      padding-bottom: 20px; */
    display: flex;
    background: #1cc4fb;
    color: #0038b9;
    justify-content: space-around;
    /* width: 100%; */
}

#title {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 90px;
    transform: skewY(-10deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    color: #0038b9;
    text-shadow:
        -1px -1px 0 #00257a,
        -2px -2px 0 #00257a,
        -3px -3px 0 #00257a,
        -4px -4px 0 #00257a,
        -5px -5px 0 #00257a,
        -6px -6px 0 #00257a,
        -7px -7px 0 #00257a,
        -8px -8px 0 #00257a,
        -30px 20px 40px blue
}

/* Fin Header */

/* CSS ULTIMAS EX */

.ultimesEx > img{
    margin: 10px;
    height: 70%;
    width: 90%;
    border-radius: 1em;
}
/* FIN CSS ULTIMAS EX*/

/* DETAILS POPUP */

#popupDetails {
    width: 50%;
    border-radius: 1em;
}


#details_content {
    border: 2px solid black;
    border-radius: 1em;
    height: 80%;
}

#details_editbutton {
    margin: 10px;
    height: 20px;
    width: 40px;
    border: 2px solid orange;
}

#details_title {
    margin: 10px;
    font-size: 40px;
    font-weight: bolder;

}

#details_image {
    margin: 10px;   
    border: 2px solid black;
    border-radius: 1em;
    object-fit: cover;
    object-position: center center;
}
#details_image > img{
    height: 100%;
    width: 100%;
    border-radius: 1em;
}

#details_descripcio {
    margin: 10px;
    background-color: lightgray;
    text-align: justify;
    padding: 5px;
    border-radius: 1em;
}

#details_mapa {
    margin: 10px;
    border: 2px solid black;
    border-radius: 1em;
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
}

#details_mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#details_descripciomap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

#details_footerExperiencia {
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#details_data {
    margin: 10px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 1em;
}

#details_categoria {
    margin: 10px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 1em;
}

#details_likes {
    margin: 10px;
    height: 20px;
    background-color: lightgreen;
    border-radius: 1em;
}

#details_dislikes {
    margin: 10px;
    height: 20px;
    background-color: #FF7171;
    border-radius: 1em;
}

i {
    padding-right: 10px;
}

/*FIN DETAILS POPUP*/

.header-left {
    text-align: left;
    /*transition: transform 2s;*/
    animation: logo 5s 1;
}

@keyframes logo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*.header-left:hover{
    transform: rotate(360deg);
  }*/
.header-center {
    text-align: center;
    font-size: 50px;
}

.header-right {
    text-align: right;
}

.navbar {
    padding: 10px 16px;
    background: #1B3353;
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 99%;
}

.sticky+.content {
    padding-top: 102px;
}

/* POPUP */

.btn-popup {
    background-color: blue;
    color: #FFFFFF;
    margin: 2px;
    text-align: center;
    font-size: 16px;
    font-style: bold;
}

.navbar .btn-popup {
    padding: 0 20px;
    margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

.navbar .btn-popup:hover {
    background: rgba(94, 125, 227, .9);
}

#btn-abrir-popup {
    float: right;
}

#btn-registrar {
    float: right;
}

#btn-logout {
    float: right;
    text-decoration: none;
}

#btn-crear {
    padding: 0 20px;
    margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

#btn-crear:hover {
    background: rgba(94, 125, 227, .9);
}

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.popup #formulario .contenedor-inputs {
    opacity: 0;
}

.popup #formulario .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.popup #formulario .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup #formulario .btn-submit:hover {
    background: rgba(94, 125, 227, .9);
}

.popup.active {
    transform: scale(1);
    opacity: 1;
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
    animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Grid experiencies*/
#experiencies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ultimesEx {
    border: 2px black solid;
    margin: 5px;
    padding: 5px;
}

.titleExperiencia {
    text-align: center;
    font-weight: bolder;
    border: 3px lightblue dashed;
    margin-bottom: 2px;
}

.imgExperiencia {
    display: block;
    margin: auto;
}

#eliminar{
    background-color: red;
    color: white;
    border-radius: 10px;
}

#editar{
    background-color: blue;
    color: white;
    border-radius: 10px;
    float: right;
}