
  
  /* Safari 4.0 - 8.0 */
  





/*.bienvenida{
    background-image: url('img/paisaje.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}*/






















