.details_content {
    border: 2px solid black;
}

.details_editbutton {
    margin: 10px;
    height: 20px;
    width: 40px;
    border: 2px solid orange;
}

.details_title {
    margin: 10px;
    height: 20px;
    border: 2px solid orange;
}

.details_image {
    margin: 10px;
    height: 40px;
    border: 2px solid orange;
}

.details_descripcio {
    margin: 10px;
    height: 40px;
    border: 2px solid orange;
}

.details_mapa {
    margin: 10px;
    height: 40px;
    border: 2px solid orange;
}

.details_descripciomap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details_footerExperiencia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.details_details_data {
    margin: 10px;
    height: 20px;
    border: 2px solid orange;
}

.details_categoria {
    margin: 10px;
    height: 20px;
    border: 2px solid orange;
}

.details_likes {
    margin: 10px;
    height: 20px;
    border: 2px solid orange;
}

.details_dislikes {
    margin: 10px;
    height: 20px;
    border: 2px solid orange;
}